* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: #F7F7F7;
}

header {
    background:#ffffff;
    box-shadow:0px 2px 4px 0px rgba(153,153,153,0.10);
    width:100%;
    height:50px;
    position:fixed;
    top: 0;
}

.nav_left {
    float: left;
}

.nav_left p {
    font-family:AbadiMT-CondensedExtraBold;
    font-size:24px;
    color:rgba(0,0,0,0.26);
    text-align:left;
    line-height: 50px;
    padding-left: 35px;
    margin-left: 80px;
    display: inline-block;
}

.nav_right {
    float: right;
}

.nav_right > ul {
    margin-right: 80px;
}

.nav_right > ul li {
    list-style: none;
    display: inline-block;
    position: relative;
}

.nav_right ul li a {
    line-height: 50px;
    padding: 0 20px;
    font-family:PingFangSC-Light;
    font-size:14px;
    color:rgba(56,56,56,0.60);
    text-decoration: none;
}

.nav_right > ul > li::after{
    content: "";
    position: absolute;
    border-bottom: 2px solid transparent;
    width: 80%;
    left: 50%;
    margin-left: -40%;
    height: 1px;
    bottom: 0;
    transition: all 0.2s ease;
}

.nav_right > ul > li:hover::after,
.nav_right > ul > li.active::after{
    border-bottom: 2px solid rgb(74, 144, 226);
}

.nav_right > ul > li > ul {
    display: none;
}

.nav_right > ul > li:hover > ul {
    display: block;
}

.sub_nav {
    position: absolute;
    width: 140px;
    height: 120px;
    background:#ffffff;
    box-shadow:0px 2px 4px 0px rgba(153,153,153,0.10);
}

.sub_nav li {
    height: 40px;
    width: 100%;
}

.sub_nav li a {
    line-height: 40px;
    font-family:PingFangSC-Light;
    font-size:14px;
    color:rgba(56,56,56,0.60);
}

.sub_nav li:hover{
    background:#f8f8f8;
}

.content {
    height: 10000px;
    width: 1000px;
    margin: 70px auto;
    background-color: #ffffff;
}
